{% extends 'base.html.twig' %}
{% block head %}
{% endblock %}
{% block body %}

		<div class="container page-edit">
            <div class="row ">
                <div class="col-12 d-flex flex-column justify-content-between px-0">
					<h2>Editer les permissions des utilisateurs</h2>

						{% for role in listeRole %}
							<br>
							{{role.rolename}}
							<br>
							<table>
									<tr>
										<td>email</td>
										<td>delete</td>
										<td>ajouter à l'utilisateur le rôle courant</td>
										<td>ajouter à l'utilisateur le rôle d'administrateur</td>
									</tr>
								{% for user in role.users %}
									<tr>
										<td>{{ user.email }}</td>
										<td><a href="{{ path('deletePrivilege', { 'id': user.id , 'roleId': role.id }) }}">supprimer</a></td>
										<td><a href="{{ path('addPrivilege', { 'id': user.id , 'roleId': 1 }) }}">ajouter courant</a></td>
										<td><a href="{{ path('addPrivilege', { 'id': user.id , 'roleId': 2 }) }}">ajouter administrateur</a></td>
									</tr>
								{% endfor %}
							</table>
							<br>
						{% endfor %}
				</div>
			</div>
		</div>

{% endblock %}
